src/test/resources/dbunit/rld-build-tools.dtd

<!ELEMENT dataset (
    DBUNITTESTENTITY*,
    DBUNITTESTENTITY_TESTENTITY*,
    TEST_ENTITY*)>

<!ELEMENT DBUNITTESTENTITY EMPTY>
<!ATTLIST DBUNITTESTENTITY
    ID CDATA #REQUIRED
    B CDATA #IMPLIED
    BOOL CDATA #IMPLIED
    C CDATA #IMPLIED
    D CDATA #IMPLIED
    DATE CDATA #IMPLIED
    F CDATA #IMPLIED
    GEOMETRY CDATA #IMPLIED
    L CDATA #IMPLIED
    S CDATA #IMPLIED
    STRING CDATA #IMPLIED
    TESTENUM CDATA #IMPLIED
    TESTENTITY_ID CDATA #IMPLIED
>

<!ELEMENT DBUNITTESTENTITY_TESTENTITY EMPTY>
<!ATTLIST DBUNITTESTENTITY_TESTENTITY
    DBUNIT_TEST_ENTITY_ID CDATA #REQUIRED
    TEST_ENTITY_ID CDATA #REQUIRED
>

<!ELEMENT TEST_ENTITY EMPTY>
<!ATTLIST TEST_ENTITY
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>
