src/test/resources/dbunit/rld-build-tools.dtd

<!ELEMENT dataset (
    DBUNITTESTENTITY*,
    DBUNITTESTENTITY_TESTENTITY*,
    TEST_ENTITY*,
    TEST_ENTITY_WITHOUT_REPOSITORY*)>

<!ELEMENT DBUNITTESTENTITY EMPTY>
<!ATTLIST DBUNITTESTENTITY
    ID CDATA #REQUIRED
    B CDATA #IMPLIED
    BD CDATA #IMPLIED
    BI CDATA #IMPLIED
    BOOL CDATA #IMPLIED
    C CDATA #IMPLIED
    D CDATA #IMPLIED
    DATE CDATA #IMPLIED
    F CDATA #IMPLIED
    L CDATA #IMPLIED
    LOCALDATE CDATA #IMPLIED
    LOCALDATETIME CDATA #IMPLIED
    S CDATA #IMPLIED
    STRING CDATA #IMPLIED
    TESTENUM CDATA #IMPLIED
    ZONEDDATETIME CDATA #IMPLIED
    TESTENTITY_ID CDATA #IMPLIED
    ONE_TO_ONE_DB_UNIT_TEST_ENTITY_ID CDATA #IMPLIED
>

<!ELEMENT DBUNITTESTENTITY_TESTENTITY EMPTY>
<!ATTLIST DBUNITTESTENTITY_TESTENTITY
    DBUNIT_TEST_ENTITY_ID CDATA #REQUIRED
    TEST_ENTITY_ID CDATA #REQUIRED
>

<!ELEMENT TEST_ENTITY EMPTY>
<!ATTLIST TEST_ENTITY
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT TEST_ENTITY_WITHOUT_REPOSITORY EMPTY>
<!ATTLIST TEST_ENTITY_WITHOUT_REPOSITORY
    ID CDATA #REQUIRED
    ONE_TO_ONE_DB_UNIT_TEST_ENTITY_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DB_UNIT_TEST_ENTITY_ID CDATA #IMPLIED
>
